<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.adam.basiclibrary">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />
    <permission
        android:name="app.adam.basiclibrary.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
</manifest>